;; shadow-cljs configuration
{:source-paths
 ["source/cljs" "tests/cljs"]

 :dependencies
 []

 :builds
 {:app {:target :browser
        :output-dir ".tmp/javascripts"
        :asset-path "/javascripts"
        :modules {:site {:entries [<%= kebab_name %>.core]}}}
  :tests {:target :karma
          :output-to ".tmp/test-javascripts/tests.js"}}}
